body, .stApp {
    background-color: #00bfff !important;
    color: white !important;
    text-align: center;
    
}
h1 {
    font-style: oblique !important;
    color: darkorchid !important;
}
.st-key-login_button {
    text-align: center;
}