body, .stApp {
    background-color: #56a0d3 !important;
    color: white !important;
    text-align: center !important;
    
}

.stButton {
    color:cornflowerblue !important;
}

h1 {
    font-style: oblique !important;
    color: darkorchid !important;
}
