body {
    background-color: #00bfff !important;
    color: white !important;
    
}
h1 {
    font-style: oblique !important;
    color: darkorchid !important;
}
.st-key-login_button {
    background-color: #00bfff !important;
    color: aliceblue !important;
}